/* Add these styles to your "styles.css" file */

/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'VT323', monospace;
    background-color: #9e9e9e;
    color: #ECECEC;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 2vw;
}

/* ... (other styles) ... */

/* Style the form */
form {
    background-color: #9e9e9e;
    border-radius: 5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
}

label {
    font-weight: bold;
    display: block;
    font-size: 3vh;
    margin-bottom: 3vh;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

textarea {
    width: 90%;
    padding: 2vw;
    border: 2px solid #9e9e9e;
    border-radius: 2vw;
    font-size: 2vh;
    resize: vertical;
    font-family: 'VT323', monospace;
    color: #ECECEC;
    background-color: #292929;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 3vh;
}

button[type="submit"] {
    background-color: #666464;
    color: #fff;
    padding: 1.5vh 4vw;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    font-weight: bold;
    font-family: 'VT323', monospace;
    font-size: 2.5vh;
    transition: background-color 0.3s ease;
    margin-top: 1vh; /* Adjusted margin for the button */
}

.small-text {
    font-size: 2.5vh; /* Increased font size for "everything is anonymous" */
    color: #b8b8b8;
    margin-top: -3vh; /* Adjusted margin for "everything is anonymous" */
}

button[type="submit"]:hover {
    background-color: #212121;
}
h2 {
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin-bottom: -2vh;
}

#secret {
    font-size: 30px;
}
